<div class="container">
<div class="booking-top-row">
  <div class= "booking-text">
    <h1>Enter your cargo here</h1>
  </div>
  <div class="booking-form">
    <%= simple_form_for(@cargo) do |f| %>
    <%= f.input :cargo_name %>
    <%= f.input :volume %>
    <%= f.input :load_location %>
    <%= f.input :discharge_location %>
    <div class="date-field">
      <%= f.label :load_date %>
      <%= f.date_field :cargo_load_window %>
    </div>
    <div class="cargo-type">
    <%= f.label :cargo_type %>
    <%= f.input :cargo_type, as: :check_boxes, collection: @cargo_type %>
    </div>
    <div class="gas-free">
    <%= f.label :gas_free %>
    <%= f.input :gas_free %>
    </div>
    <%= f.submit %>
    <% end %>
  </div>
</div>

<%= render 'shared/cargos/filtered_cargos_list', cargos: @cargos %>
</div>
