
<div>
  <h1>Enter your cargo here</h1>

  <%= simple_form_for(@cargo) do |f| %>
    <%= f.input :cargo_name %>
    <%= f.input :volume %>
    <%= f.input :load_location %>
    <%= f.input :discharge_location %>
    <div class="date-field">
      <%= f.label :date %>
      <%= f.date_field :cargo_load_window %>
    </div>
    <%= f.input :cargo_type, as: :check_boxes, collection: @cargo_type %>
    <%= f.input :gas_free %>
    <%= f.submit %>
  <% end %>

  <%= render 'shared/cargos/filtered_cargos_list', cargos: @cargos %>

  <div class="notice">Delete success</div>

</div>


