<div class="container">
<div class="booking-top-row">
  <div class= "booking-text">
    <h1>Enter your barge here</h1>
  </div>
  <div class="booking-form">
    <%= simple_form_for(@barge) do |f| %>
    <%= f.input :barge_name %>
    <%= f.input :capacity %>
    <%= f.input :barge_area, as: :check_boxes, collection: [['ARA', 'ARA'], ['Rhine', 'Rhine'], ['Northern-Canals', 'Northern-Canals'], ['Upper-Rhine', 'Upper-Rhine']] %>
    <div class="date-field">
      <%= f.label :date %>
      <%= f.date_field :barge_load_window %>
    </div>
    <%= f.input :barge_type, as: :check_boxes, collection: @bargo_type %>
    <%= f.input :gas_free %>
    <%= f.submit %>
    <% end %>
  </div>
  <%= render 'shared/barges/filtered_barges_list', barges: @barges %>
</div>
