<div class="container container-create-offer">
  <div class="booking-top-row">
    <div class= "booking-text">
      <h1>Enter your barge here</h1>
    </div>
    <%= simple_form_for(@barge) do |f| %>
      <div class="booking-form pb-5">
        <div class="booking-form-left">
          <%= f.input :barge_name %>
          <%= f.input :capacity %>
          <%= f.input :pre_cargo %>
          <div class="date-field">
            <%= f.label :date %>
            <%= f.date_field :barge_load_window %>
          </div>
        </div>
        <div class="booking-form-right">
          <div class="barge-type d-flex justify-content-between">
            <div class="cargo-type-text">
              <div class="cargo-type-text">
                <p>Barge area</p>
              </div>
            </div>
          <!-- <%= f.label :barge_area %> -->
          <%= f.input :barge_area, label:false, collection: @barge_area %>
          </div>


          <div class="barge-type d-flex justify-content-between">
            <div class="cargo-type-text">
              <p>Barge type</p>
            </div>
            <!-- <%= f.label :barge_type %> -->
            <%= f.input :barge_type, label:false, collection: @barge_type %>
          </div>
          <div class="gas-free align-middle">


            <%= f.input :gas_free %>
          </div>
          <%= f.submit 'Enter Barge', class: 'btn-forward-login mt-5' %>
        </div>
      </div>
    <% end %>
  </div>

    <%= render 'shared/barges/filtered_barges_list', barges: @barges %>
</div>
