  <div class="middle-row">
    <% @barges.each_with_index do |barge, i| %>
     <% if i%2 == 0 %>
        <div class="result-card-white">
      <% else %>
      <div class="result-card">
        <% end %>
        <div class="cargo-name-card">
          <h3>Barge</h3>
          <h4><%= barge.barge_name %></h4>
          <a class="fas fa-ship fa-lg"></a>
        </div>
        <div class="cargo-specifics">
          <div class="specifics-details">
            <h3>Specifics</h3>
            <div>Area</div>
            <div>Last 3 cargo's</div>
            <div>Barge gasfree</div>
            <div>Load date </div>
            <div>Volume (m³) </div>
          </div>
          <ul class="list-unstyled results-specifics">
            <li><%= barge.barge_area %></li>
            <li><%= barge.pre_cargo %></li>
            <li><%= barge.gas_free ? 'Yes' : 'No' %></li>
            <li><%= barge.barge_load_window %></li>
            <li><%= barge.capacity %></li>
          </ul>
        </div>

        <div class= "cargo-contact-card">
          <h3>Contact</h3>
          <div class="contact-buttons-card">
            <a class="far fa-comments fa-lg" href="#"></a>
            <a class="fas fa-phone-volume fa-lg" href="tel:<%= barge.broker.user.phone_number %>"></a>
            <a class="far fa-envelope fa-lg" href="mailto:<%= barge.broker.user.email %>"></a>
          </div>
          <div class="book-button">
            <div class="btn-home">
              <%= link_to "Book barge"%>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


