<div class="container">
  <div class="top-row">
    <div class="cargo-text">
      <h1>Find your barge here</h1>
    </div>
    <%= simple_form_for '', method: :get do |f| %>
      <div class="filter-result-card">
        <div class="filter-box-card">
          <div class="green-filter-box">
            Area
          </div>
          <div class="white-filter-box">
            <%= f.input :barge_areas, as: :check_boxes, collection: [['ARA', 'ARA'], ['Rhine',
              'Rhine'], ['Middle-Rhine', 'Middle-Rhine'], ['Upper-Rhine', 'Upper-Rhine']] %>
          </div>
        </div>
        <div class="filter-box-card">
          <div class="green-filter-box">
            Cargo
          </div>
          <div class="white-filter-box">
            <%= f.input :barge_types, as: :check_boxes, collection: [['CPP', 'CPP'], ['Fuel', 'Fuel'],
              ['Chemicals', 'Chemicals'], ['Bunker', 'Bunker']] %>
          </div>
        </div>
        <div class="filter-box-card">
          <div class="green-filter-box">
            <%= f.input :capacity, collection: [['< 1500', 0], ['1500 - 2500', 1],
              ['2500 - 4000', 2], ['4000 +', 3]] %>
          </div>
        </div>
        <div class="filter-box-card">
          <div class="green-filter-box">
            <%= f.date_field :barge_load_window  %>
          </div>
        </div>
      </div>
      <div class="search-button"><%= f.submit 'Search', :class => 'btn-home' %></div>
    <% end %>
  </div>
  <div class="middle-row">
    <% @barges.each_with_index do |barge, i| %>
     <% if i%2 == 0 %>
        <div class="result-card-white">
      <% else %>
      <div class="result-card">
        <% end %>
        <div class="cargo-name-card">
          <h3>Barge</h3>
          <h4><%= barge.barge_name %></h4>
        </div>
        <div class="cargo-specifics">
          <div class="specifics-details">
            <h3>Specifics</h3>
            <div>Area</div>
            <div>Last 3 cargo's</div>
            <div>Barge gasfree</div>
            <div>Load date </div>
            <div>Volume (m³) </div>
          </div>
          <ul class="list-unstyled">
            <li><%= barge.barge_area %></li>
            <li><%= barge.pre_cargo %></li>
            <li><%= barge.gas_free ? 'Yes' : 'No' %></li>
            <li><%= barge.barge_load_window %></li>
            <li><%= barge.capacity %></li>
          </ul>
        </div>
        <div class= "cargo-contact-card">
          <h3>Contact</h3>
          <div class="contact-buttons-card">
            <a class="far fa-comments fa-lg" href="#"></a>
            <a class="fas fa-phone-volume fa-lg" href="#"></a>
            <a class="far fa-envelope fa-lg" href="#"></a>
          </div>
          <div class="book-button">
            <div class="btn-home">
              <%= link_to "Book barge"%>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<!-- </div> -->
