  <div class="booking-card">
    <ul>
      <% @barges.each do |barge| %>
        <div class="booking-specifics">
          <div class="bookings-details">

            <div class="booking-name">
            <h4>Barge</h4>
            <div><%= barge.barge_name %></div>
            </div>

            <div class="booking-load-date">
            <h4>Load date</h4>
            <div><%= barge.barge_load_window %></div>
            </div>

            <div class="booking-volume">
            <h4>Capicity (m3)</h4>
            <div><%= barge.capacity %></div>
            </div>

            <div class="booking-load-location">
            <h4>Load location</h4>
            <div><%=  barge.barge_area %></div>
            </div>

            <div class="booking-discharge-location">
            <h4>Discharge location</h4>
            <div><%= barge.barge_area %></div>
            </div>

            <div class="booking-delete">
            <div>""</div>
            <div><%= link_to 'Delete', barge_path(barge), method: :delete %>
          </div>
          </div>

        </div>
      </div>
    <% end %>
  </ul>
</div>
