<%= simple_form_for '', method: :get do |f| %>
<div class="filter-result-card">
  <div class="cargo-text">
    <h1>Find your barge here</h1>
  </div>
  <div class="filter-boxes">
    <div class="filter-box-card">
      <div class="green-filter-box">
        Area
      </div>
      <div class="white-filter-box">
        <%= f.input :barge_areas, as: :check_boxes, collection: [['ARA', 'ARA'], ['Rhine',
          'Rhine'], ['Middle-Rhine', 'Middle-Rhine'], ['Upper-Rhine', 'Upper-Rhine']] %>
          </div>
        </div>
        <div class="filter-box-card">
          <div class="green-filter-box">
            Cargo
          </div>
          <div class="white-filter-box">
            <%= f.input :barge_types, as: :check_boxes, collection: [['CPP', 'CPP'], ['Fuel', 'Fuel'],
            ['Chemicals', 'Chemicals'], ['Bunker', 'Bunker']] %>
          </div>
        </div>
        <div class="filter-box-card">
          <div class="green-filter-box">
           Volume
         </div>
         <div class="volume-box">
          <%= f.input :capacity, label: false, collection: [['< 1500', 0], ['1500 - 2500', 1],
          ['2500 - 4000', 2], ['4000 +', 3]] %>
        </div>
      </div>
      <div class="filter-box-card">
        <div class="green-filter-box">
          Load date
        </div>
        <div class="date-box">
          <%= f.date_field :barge_load_window  %>
        </div>
      </div>
  </div>



  <div class="button-search-location">
      <div>
        <%= button_tag class: "btn btn-forward-nomination" do %>
          <i class="fas fa-arrow-right pr-2"></i>
          Search
        <% end %>
      </div>
    </div>
</div>
    <% end %>
