<% if controller_name == "pages" && action_name == "home" %>
  <div class="navbar navbar-home">
    <div class="navbar-brand">
      <h1><%= link_to "spotbarge", "/"%></h1>
    </div>
    <ul class="list-group list-group-horizontal">
      <% if user_signed_in? %>
        <li class="list-group-item navbar-item"><%= link_to "Dashboard", "/dashboard"%></li>
        <li class="list-group-item navbar-item"><%= link_to "Log out", "/users/sign_out", method: :delete%></li>
      <% else %>
        <li class="list-group-item navbar-item"><%= link_to "Become a member", "/users/sign_up"%></li>
        <li class="list-group-item navbar-item"><%= link_to "Log in", "/users/sign_in"%></li>
      <% end %>
    </ul>
  </div>
<% else %>
  <div class="navbar">
    <div class="navbar-brand">
      <h1><%= link_to "spotbarge", "/"%></h1>
    </div>
    <ul class="list-group list-group-horizontal">
      <% if user_signed_in? %>
      <% if current_page?(dashboard_path) %>
      <% else %>
      <li class="list-group-item navbar-item"><%= link_to "Dashboard", "/dashboard"%></li>
      <% end %>
      <% if current_page?(edit_user_registration_path) %>
      <% else %>
      <li class="list-group-item navbar-item"><%= link_to "My account", "/users/edit"%></li>
      <% end %>
      <% if current_user.type_of_company == "Oilsupplier" %>
      <% if current_page?(new_cargo_path) || current_page?(barges_path) %>
      <% else %>
      <li class="list-group-item navbar-item"><%= link_to "Enter cargo", "/cargos/new"%></li>
      <% end %>
      <li class="list-group-item navbar-item"><%= link_to "Log out", "/users/sign_out", method: :delete%></li>
      <% if current_page?(barges_path) %>
      <li class="list-group-item navbar-item-yellow"><i class="fas fa-arrow-right"></i>&nbsp&nbsp&nbsp <%= link_to "Enter cargo", "/cargos/new"%></li>
      <% else %>
      <li class="list-group-item navbar-item-yellow"><i class="fas fa-arrow-right"></i>&nbsp&nbsp&nbsp <%= link_to "Find a barge", "/barges/"%></li>
      <% end %>
      <% else %>
      <% if current_page?(new_barge_path) || current_page?(cargos_path) %>
      <% else %>
      <li class="list-group-item navbar-item"><%= link_to "Enter barge", "/barges/new"%></li>
      <% end %>
      <li class="list-group-item navbar-item"><%= link_to "Log out", "/users/sign_out", method: :delete%></li>
      <% if current_page?(cargos_path) %>
      <li class="list-group-item navbar-item-yellow"><i class="fas fa-arrow-right"></i>&nbsp&nbsp&nbsp <%= link_to "Enter barge", "/barges/new"%></li>
      <% else %>
      <li class="list-group-item navbar-item-yellow"><i class="fas fa-arrow-right"></i>&nbsp&nbsp&nbsp <%= link_to "Find a cargo", "/cargos"%></li>
      <% end %>
      <% end %>
      <% else %>
      <% if current_page?(new_user_session_path) %>
      <li class="list-group-item navbar-item-yellow"><i class="fas fa-arrow-right"></i>&nbsp&nbsp&nbsp <%= link_to "Create account", "/users/sign_up"%></li>
      <% elsif current_page?(new_user_registration_path) %>
      <% else %>
      <li class="list-group-item navbar-item"><%= link_to "Become a member", "/users/sign_up"%></li>
      <li class="list-group-item navbar-item"><%= link_to "Log in", "/users/sign_in"%></li>
      <% end %>
      <% end %>
    </ul>
  </div>
<% end %>
