<div class="home-background">
  <div class="banner mt-5">
    <div class="container home-font mt-5 ml-5">
      <h1 class="mb-2 ml-5">We bring efficiency <br>to the shipping industry</h1>
      <p class="ml-5">The platform where oil suppliers and shipbrokers for inland<br>barging Europe will efficiently benefit from eachother.</p>

      <% if user_signed_in? %>
        <% if current_user.type_of_company == "Oilsupplier" %>
        <div class="home-buttons pt-5 ml-5">
          <div class="btn-home mr-4"><i class="fas fa-arrow-right"></i><%= link_to " Find a Barge", "/barges"%>
          </div>
          <div class="btn-home"><i class="fas fa-arrow-right"></i><%= link_to " Enter a Cargo", "/cargos/new"%>
          </div>
        </div>
        <% else %>
        <div class="home-buttons pt-5 ml-5">
          <div class="btn-home mr-4"><i class="fas fa-arrow-right"></i><%= link_to " Enter a Barge", "/barges/new"%>
          </div>
          <div class="btn-home"><i class="fas fa-arrow-right"></i><%= link_to " Find a Cargo", "/cargos"%>
          </div>
        </div>
        <% end %>
      <% else %>
      <div class="home-buttons pt-5 ml-5">
        <div class="btn-home mr-4"><i class="fas fa-arrow-right"></i><%= link_to " Find a Barge", "/barges"%></div>
        <div class="btn-home"><i class="fas fa-arrow-right"></i><%= link_to " Find a Cargo", "/cargos"%></div>
      </div>
      <% end %>


    </div>
  </div>
</div>
</div>
<div class="home-background2">
  <div class="banner2">
    <div class="container home-info">
      <h5>What is spotbarge</h5>
        <h2 class="mt-2">Shipping’s made easy</h2>
        <h3 class="mt-2">We make it easy to find your cargo’s and barges online.<br> From an overview of supply and demand and making  <br>bookings to submitting documents. </h3>
        <div class="d-flex justify-content-between mt-4">
          <div class="home-info-subcard mr-4">
            <div class="home-info-subcard-head">
              <h6>The users</h6>
            </div>
            <div class="home-info-subcard-text">
              <p>Spotbarge is a platform for oil suppliers and shipbrokers only, privacy and discretion are the building blocks of this platform. Shipbrokers only have access to the marketplace for cargo’s, while oil suppliers only have access to the marketplace for barges.</p>
            </div>
          </div>
          <div class="home-info-subcard ml-4 mr-4">
            <div class="home-info-subcard-head">
              <h6>The vision</h6>
            </div>
            <div class="home-info-subcard-text">
              <p>The aim of spotbarge is to stimulate and increase back loadings which will lead to a reduction in CO2 emissions. The tools build-in this platform will help you to efficiently find and book a barge or cargo.</p>
            </div>
          </div>
          <div class="home-info-subcard ml-4">
            <div class="home-info-subcard-head">
              <h6>The tools</h6>
            </div>
            <div class="home-info-subcard-text">
              <p>The platform features a range of build in applications such as a dashboard which includes daily freight-rates, water-levels, gasoil-rates and a newsfeed.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

