
<div class="middle-row">
  <% @cargos.each_with_index do |cargo, i| %>
  <% if i%2 == 0 %>
  <div class="result-card-white">
    <% else %>
    <div class="result-card">
      <% end %>
      <div class="cargo-name-card">
        <h3>Cargo</h3>
        <h4><%= cargo.cargo_name %></h4>
        <a class="fas fa-tint fa-lg"></a>
      </div>


      <div class="cargo-specifics">

        <div class="specifics-details">
          <h3>Specifics</h3>
          <div>Load location</div>
          <div>Discharge location</div>
          <div>Gasfree required</div>
          <div>Load date </div>
          <div>Volume (ton) </div>
        </div>
        <ul class="list-unstyled results-specifics">
          <li><%= cargo.load_location %></li>
          <li><%= cargo.discharge_location %></li>
          <li><%= cargo.gas_free ? 'Yes' : 'No' %></li>
          <li><%= cargo.cargo_load_window %></li>
          <li><%= cargo.volume %></li>
        </ul>
      </div>

      <div class= "cargo-contact-card">
        <h3>Contact</h3>
        <div class="contact-buttons-card">
          <a class="far fa-comments fa-lg" href="#"></a>
          <a class="fas fa-phone-volume fa-lg" href="tel:<%= cargo.oil_company.user.phone_number %>"></a>
          <a class="far fa-envelope fa-lg" href="mailto:<%= cargo.oil_company.user.email %>"></a>
        </div>
        <div class="book-button">
          <div class="btn-home"><%= link_to "Book cargo", new_cargo_path(@cargo) %></div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>


