  <div class="booking-card">
    <ul>
      <% cargos.each do |cargo| %>
        <div class="booking-specifics">
          <div class="bookings-details">

            <div class="booking-name">
            <h4>Cargo</h4>
            <div><%= cargo.cargo_name %></div>
            </div>

            <div class="booking-load-date">
            <h4>Load date</h4>
            <div><%= cargo.cargo_load_window %></div>
            </div>

            <div class="booking-volume">
            <h4>Volume (ton)</h4>
            <div><%= cargo.volume %></div>
            </div>

            <div class="booking-load-location">
            <h4>Load location</h4>
            <div><%= cargo.load_location %></div>
            </div>

            <div class="booking-discharge-location">
            <h4>Discharge location</h4>
            <div><%= cargo.discharge_location %></div>
            </div>

            <div class="booking-delete">
            <div>
              <%= link_to(cargo_path(cargo), method: :delete) do %>
                <i class="far fa-trash-alt"></i>
              <% end %>
            </div>
          </div>

        </div>
      </div>
    <% end %>
  </ul>
</div>

