<h2>Find your cargo here</h2>
<%= simple_form_for '', method: :get do |f| %>
<%= f.input :load_location, as: :check_boxes, collection: @load_locations %>
<%= f.input :cargo_type, as: :check_boxes, collection: @cargo_type %>
<%= f.input :volume, collection: [['< 1500', 0], ['1500 - 2500', 1],
['2500 - 4000', 2], ['4000 +', 3]] %>
<%= f.date_field :cargo_load_window  %>
<%= f.submit 'Search' %>
<% end %>

<!--
<div class="container">
  <div class="top-row">
    <div class="cargo-text"><h1>Find your cargo here</h1></div>
    <div class="filter-result-card">
      <div class="filter-box-card">
        <div class="green-filter-box">
          Area
        </div>
        <div class="white-filter-box">
          <div>test</div>
          <div>test</div>
          <div>test</div>
          <div>test</div>
        </div>
      </div>
      <div class="filter-box-card">
        <div class="green-filter-box">
          Cargo
        </div>
        <div class="white-filter-box">
          <div>test</div>
          <div>test</div>
          <div>test</div>
          <div>test</div>
        </div>
      </div>
      <div class="filter-box-card">
        <div class="green-filter-box">
          Volume in tons
        </div>
      </div>
      <div class="filter-box-card">
        <div class="green-filter-box">
          Load date
        </div>
      </div>
    </div>
 -->
